@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div class="container" style="background-color:rgba(239,239,239,0.95); border-radius:10px; padding:20px; width:600px;">
    <h2>Parabéns, sua conta foi criada com sucesso! Clique <a href="../Usuario/Login">aqui</a> para efetuar o Login no Sistema...</h2>

    </div>